backend/soap-services/legacy-connector-service/src/main/resources/api/LegacyConnectorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="LegacyConnectorService"
    targetNamespace="http://mtis.ua.es/elearning/legacy"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://mtis.ua.es/elearning/legacy">

  <wsdl:types>
    <xs:schema targetNamespace="http://mtis.ua.es/elearning/legacy" elementFormDefault="qualified">
      <xs:simpleType name="SyncStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="PARTIAL"/>
          <xs:enumeration value="FAILED"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="ServiceFaultType">
        <xs:sequence>
          <xs:element name="code" type="xs:string"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="detail" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="ServiceFault" type="tns:ServiceFaultType"/>

      <xs:complexType name="ExternalContentMetadataType">
        <xs:sequence>
          <xs:element name="externalContentId" type="xs:string"/>
          <xs:element name="title" type="xs:string"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="category" type="xs:string" minOccurs="0"/>
          <xs:element name="lastModified" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="checksum" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="ObtenerContenidosExternosRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sourceSystem" type="xs:string"/>
            <xs:element name="catalogId" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedSince" type="xs:dateTime" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ObtenerContenidosExternosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sourceSystem" type="xs:string"/>
            <xs:element name="contents" type="tns:ExternalContentMetadataType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="SincronizarDatosRepositorioRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sourceSystem" type="xs:string"/>
            <xs:element name="catalogId" type="xs:string" minOccurs="0"/>
            <xs:element name="requestedBy" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="SincronizarDatosRepositorioResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="syncId" type="xs:string"/>
            <xs:element name="status" type="tns:SyncStatusType"/>
            <xs:element name="processedItems" type="xs:int"/>
            <xs:element name="updatedItems" type="xs:int"/>
            <xs:element name="failedItems" type="xs:int"/>
            <xs:element name="startedAt" type="xs:dateTime"/>
            <xs:element name="finishedAt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ConsultarMetadatosContenidoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sourceSystem" type="xs:string"/>
            <xs:element name="externalContentId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ConsultarMetadatosContenidoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="metadata" type="tns:ExternalContentMetadataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="ObtenerContenidosExternosInput">
    <wsdl:part name="parameters" element="tns:ObtenerContenidosExternosRequest"/>
  </wsdl:message>

  <wsdl:message name="ObtenerContenidosExternosOutput">
    <wsdl:part name="parameters" element="tns:ObtenerContenidosExternosResponse"/>
  </wsdl:message>

  <wsdl:message name="SincronizarDatosRepositorioInput">
    <wsdl:part name="parameters" element="tns:SincronizarDatosRepositorioRequest"/>
  </wsdl:message>

  <wsdl:message name="SincronizarDatosRepositorioOutput">
    <wsdl:part name="parameters" element="tns:SincronizarDatosRepositorioResponse"/>
  </wsdl:message>

  <wsdl:message name="ConsultarMetadatosContenidoInput">
    <wsdl:part name="parameters" element="tns:ConsultarMetadatosContenidoRequest"/>
  </wsdl:message>

  <wsdl:message name="ConsultarMetadatosContenidoOutput">
    <wsdl:part name="parameters" element="tns:ConsultarMetadatosContenidoResponse"/>
  </wsdl:message>

  <wsdl:message name="ServiceFaultMessage">
    <wsdl:part name="fault" element="tns:ServiceFault"/>
  </wsdl:message>

  <wsdl:portType name="LegacyConnectorPortType">
    <wsdl:operation name="ObtenerContenidosExternos">
      <wsdl:input message="tns:ObtenerContenidosExternosInput"/>
      <wsdl:output message="tns:ObtenerContenidosExternosOutput"/>
      <wsdl:fault name="ServiceFault" message="tns:ServiceFaultMessage"/>
    </wsdl:operation>

    <wsdl:operation name="SincronizarDatosRepositorio">
      <wsdl:input message="tns:SincronizarDatosRepositorioInput"/>
      <wsdl:output message="tns:SincronizarDatosRepositorioOutput"/>
      <wsdl:fault name="ServiceFault" message="tns:ServiceFaultMessage"/>
    </wsdl:operation>

    <wsdl:operation name="ConsultarMetadatosContenido">
      <wsdl:input message="tns:ConsultarMetadatosContenidoInput"/>
      <wsdl:output message="tns:ConsultarMetadatosContenidoOutput"/>
      <wsdl:fault name="ServiceFault" message="tns:ServiceFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="LegacyConnectorBinding" type="tns:LegacyConnectorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="ObtenerContenidosExternos">
      <soap:operation soapAction="http://mtis.ua.es/elearning/legacy/ObtenerContenidosExternos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="SincronizarDatosRepositorio">
      <soap:operation soapAction="http://mtis.ua.es/elearning/legacy/SincronizarDatosRepositorio"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ConsultarMetadatosContenido">
      <soap:operation soapAction="http://mtis.ua.es/elearning/legacy/ConsultarMetadatosContenido"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="LegacyConnectorService">
    <wsdl:port name="LegacyConnectorPort" binding="tns:LegacyConnectorBinding">
      <soap:address location="http://localhost:8089/LegacyConnectorService/LegacyConnectorPort"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>

